html {

}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin: 5%;
}

.panel {
    float: right;
    top: 0px;
    right: 0px;
    width: 105%;
    /* height: 100%; */
    background-color: gray;
    border-radius: 0 0 0 10px;
    padding-right: 0%;
}

.canvas {
    position: absolute;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.home{
    padding-left: 8px;
    padding-top: 8px;
}

.nav-tabs .nav-link{
    border-radius: 4px;
}