html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin: 5%;
    margin-top: 20px;
}

body{
    width: 100%;
}

.home{
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
}

.panel {
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100vh;
    background-color: white;
    padding-right: 0%;

    box-shadow: 5px 0px 20px 1px #000;

    position: absolute;
}

a.homeTab {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 15px;
    padding-right: 48px;
}

.homeTab.nav-item.nav-link.bg-white.active{
    border-bottom: 0px;
}

.nav-link.menu4nl{
    border-top: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
}

.homeTab.nav-item.nav-link.bg-white{
    border-bottom: 1px solid #dee2e6;
}

#favcolor, #favcolor1, #favcolor2, #favcolor3, #favcolor4, #number{
    border: 1px solid #dee2e6!important;
    border-radius: .2rem;
}