.menu1,
.menu2,
.menu3,
.menu4 {
    margin: 5%;
}

body{
    width: 100%;
}

.home{
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
}

.panel {
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100vh;
    background-color: white;
    padding-right: 0%;

    position: absolute;
}

a.homeTab {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 15px;
    padding-right: 48px;
}

.homeTab.nav-link.active{
    /*  */
}

#favcolor, #favcolor1, #favcolor2, #favcolor3, #favcolor4, #number{
    border: 1px solid #dee2e6!important;
    border-radius: .2rem;
}