.menu1,
.menu2,
.menu3,
.menu4 {
    margin: 5%;
}

body{
    width: 100%;
}

.home{
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
}

.panel {
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100vh;
    background-color: white;
    padding-right: 0%;

    position: absolute;
}

.tab1 {
	float: left;

	/* width: 100px;
    height: 35px; */

    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */

    outline: 4px solid transparent;

	position: relative;

    background: #fff;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.tab1:before {
	content: "";
	position: absolute;

	height: 20px;
	width: 20px;

	bottom: 0;
}

.tab1:before {
    left: -20px;
    outline: 4px solid transparent;
	border-radius: 0 0 4px 0;
	box-shadow: 10px 0 0 0 #ffffff;
}

.tab2 {
	float: left;

	/* width: 100px;
    height: 35px; */

    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */

	position: relative;

    background: #fff;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.tab3 {
	float: left;

	/* width: 100px;
    height: 35px; */

    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */

	position: relative;

	background: #fff;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

a.tabText{
    box-sizing: border-box;
    padding-right: 48px;
}