html{
    box-sizing: border-box;
    overflow:  hidden;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.menu1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin-left: 20px;
    margin-bottom: 20px;
}

body{
    width: 100%;
}

.home{
    /* position: absolute;
    left: 0;
    top: 0;
    width: 80%; */
    
}

#sidebar {
    min-height: 100vh;
    box-shadow: -15px 0px 50px -9px #000000;
}


a.homeTab {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 15px;
    padding-right: 48px;
}

.homeTab.nav-item.nav-link.bg-white.active{
    border-bottom: 0px;
}

.nav-link.menu4nl{
    border-top: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
}

.homeTab.nav-item.nav-link.bg-white{
    border-bottom: 1px solid #dee2e6;
}

#favcolor, #favcolor1, #favcolor2, #favcolor3, #favcolor4, #number{
    border: 1px solid #dee2e6!important;
    border-radius: .2rem;
}

.menu1Info{
    height: 144px;
}

.menu1Share {
    height: 180px;
}

.menu1Open{
    height: 415px;
}

.project{
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row-reverse;
  }
  
  #sidebar {
    color: #fff;
    transition: all 0.3s;
    z-index: 2;
  }
  
  #sidebar.active {
    margin-right: -333px;
    box-shadow: none;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
  }
  
  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  
  ul.CTAs {
    padding: 20px;
  }
  
  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  a.download {
    background: #fff;
    color: #7386d5;
  }
  
  a.article,
  a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
  }
  
  /* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
  
  #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
  }
  
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
  
  @media (max-width: 768px) {
    #sidebar {
      margin-right: -333px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }
  }

  #nav-tab1{
    width: 100%;
    z-index: 1;
  }